/* PAGE BACKGROUND */
body {
    background: #0c1222;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #e4e6eb;
}

/* PAGE TITLES */
.page-title {
    font-size: 28px;
    margin-top: 20px;
}

.page-subtitle {
    opacity: 0.7;
    margin-bottom: 25px;
}

/* DASHBOARD WRAPPER */
.dashboard {
    max-width: 1350px;
    margin: 30px auto;
    padding: 20px;
}

/* TOP STATS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 35px;
}

.stat-card {
    background: #131a2b;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0, 120, 255, 0.09);
    transition: 0.25s;
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 22px rgba(0, 120, 255, 0.18);
}

.stat-icon {
    font-size: 32px;
    margin-bottom: 10px;
    color: #528bff;
}

.stat-icon.safe { color: #2ecc71; }
.stat-icon.warning { color: #f1c40f; }
.stat-icon.danger { color: #ff4d4d; }

.stat-card h3 {
    font-size: 32px;
    margin: 5px 0;
}

.stat-card p {
    font-size: 13px;
    opacity: 0.7;
}

/* MAIN GRID */
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* CARD */
.card {
    background: #131a2b;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0, 120, 255, 0.08);
}

.card.large {
    grid-column: span 1;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

/* CHARTS */
.chart {
    width: 100%;
    border-radius: 12px;
}

.small-chart {
    max-width: 350px;
}

/* ALERTS */
.alert {
    background: #0f1524;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 14px;
}

.alert small {
    display: block;
    opacity: 0.6;
    margin-top: 4px;
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 10px;
}

.alert.high .tag { background: #ff4d4d20; color: #ff4d4d; }
.alert.mediumA .tag { background: #f1c40f20; color: #f1c40f; }
.alert.low .tag { background: #2ecc7120; color: #2ecc71; }

/* FILE TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: left;
    font-size: 14px;
}

th {
    background: #192137;
    opacity: 0.9;
}

tr:nth-child(even) {
    background: #0f1524;
}

.risk {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.highR { background: #ff4d4d20; color: #ff4d4d; }
.medR  { background: #f1c40f20; color: #f1c40f; }
.lowR  { background: #2ecc7120; color: #2ecc71; }
